*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500;700&display=swap');

body{
    background-color: #ee6055;
}

header{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu, h1{
    display: none;
}

.logo{
    width: 6vw;
}

nav{
    width: 60%;
}

ul{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    text-transform: capitalize;
    list-style: none;
}

li{
    font-size:2vw;
    font-weight: 500;
}

li:hover{
    color:cadetblue;
    cursor:pointer;
}

@media(max-width:800px){
    body{
        background-color: #ffd97d;
    }

    header{
        flex-direction: row-reverse;
    }

    figure{
        padding: 2vw;
    }

    h1{
        display: initial;
        font-size:6vw;
        color:red;
        font-weight: 700;
    }

    img{
        width: 70px;
    }

    nav{
        display: none;
    }

    .menu{
        display: initial;
        width: 7vw;
    }

}

main{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    cursor: pointer;
}

.mask{
    width: 15vw;
}

.box:hover::before{
    content: 'Have your coffe here';
    position: absolute;
    font-weight: 700;
    font-size:2vw;
    color:#57625c;
    background-color: azure;
    cursor:pointer;
    opacity: 0.6;
}